@import './static/fonts/fonts.css';

.home-header img {
  height: 32px;
  margin-top: 20px;
  margin-left: 45px;
}

.home-container {
  margin-top: 183px;
  margin-left: 186px;
}

.home-container h1 {
  height: 104px;
  width: 367px;
  /* color: #FFFFFF; */
  font-family: 'CircularStd';
  font-size: 54px;
  font-weight: 900;
  letter-spacing: 0.54px;
  line-height: 52px;
}

.home-container h3 {
  height: 23px;
  width: 341px;
  /* color: #D1D5DD; */
  font-family: 'CircularStd';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.18px;
  line-height: 23px;
}
