@import './static/fonts/fonts.css';

html,
body,
#root {
  height: 100%;
}

.home {
  height: 100%;
  width: 100%;
  position: absolute;
}

.home-bg {
  background-image: url('./static/images/backgroundImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.home-header img {
  height: 32px;
  margin-top: 20px;
  margin-left: 45px;
}

.home-container {
  margin-top: 183px;
  margin-left: 186px;
}

.home-container h1 {
  height: 104px;
  width: 367px;
  color: #ffffff;
  font-family: 'CircularStd';
  font-size: 54px;
  font-weight: 900;
  letter-spacing: 0.54px;
  line-height: 52px;
}

.home-container h3 {
  height: 23px;
  width: 341px;
  color: #d1d5dd;
  font-family: 'CircularStd';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.18px;
  line-height: 23px;
}

.search {
  display: flex;
}
